<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Associate Form</title>
</head>

<body>

	<div class="container">

		<h3>Associate Details</h3>
		<hr>

		<p cla"src/main/resources/templates/showFormhtml.html"ss="h4 mb-4">Save Associate</p>
		
			
		<form action="#" th:action="@{/Associate/add}" th:object="${socc}"
			method="POST">

		
			<label for="associateFirstName">firstName</label>
			 <input type="text"
				 class="form-control mb-4 col-4"
				placeholder="associateFirstName" th:field=*{associateFirstName}> 
				
				<label for="associateLastName">lastName</label>
			<input type="text" 
				class="form-control mb-4 col-4" placeholder="associateLastName" th:field="*{associateLastName}" >
				
				 <label for="email">Email</label>
			 <input type="text"
				 class="form-control mb-4 col-4"
				placeholder="associateEmail" th:field=*{email}>
				
					 <label for="associateMobilenumber">Mobile number</label>
			 <input type="text"
				 class="form-control mb-4 col-4"
				placeholder="associateEmail" th:field=*{associateMobilenumber}>
				
						<button type="submit" value="save">save</button>


		</form>

		<hr>
		<a th:href="@{/Associate/viewAll}">Back to ViewAll</a>
		<a th:href="@{/}">Back to home</a>

	</div>
</body>

</html>
