<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>28-08-2019-Employe</display-name>
  <servlet>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>employee.Controller</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>employee.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ViewEmployee</display-name>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>employee.ViewEmployee</servlet-class>
  </servlet>
  <servlet>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>employee.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Updateservlet</display-name>
    <servlet-name>Updateservlet</servlet-name>
    <servlet-class>employee.Updateservlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>employee.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>employee.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ControllerView</display-name>
    <servlet-name>ControllerView</servlet-name>
    <servlet-class>employee.ControllerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller_</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet_</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/ViewEmp_</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Updateservlet</servlet-name>
    <url-pattern>/Updateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerView</servlet-name>
    <url-pattern>/ControllerView</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/WEB-INF/lib/template.html</welcome-file>
    <welcome-file>/check.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Check</display-name>
    <filter-name>Check</filter-name>
    <filter-class>employee.Check</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Check</filter-name>
    <url-pattern>/ViewEmp_</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>employee.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet_</url-pattern>
  </servlet-mapping>
</web-app>