<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>27-08-219-Servelet-Controller-Validation</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validservlet</display-name>
    <servlet-name>Validservlet</servlet-name>
    <servlet-class>Validservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validservlet</servlet-name>
    <url-pattern>/Add_league.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>successServlet</display-name>
    <servlet-name>successServlet</servlet-name>
    <servlet-class>successServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>successServlet</servlet-name>
    <url-pattern>/success.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/Add_</url-pattern>
  </servlet-mapping>
</web-app>