<p>skilltracker works!</p>
<div>
    <fieldset>
        <legend>Associate Form</legend>
        <form #addFrm="ngForm" (submit)="add(addFrm.value)">
            <input type="text" placeholder="associateFirstName" name="associateFirstName" ngModel /> <br/>
            <input type="text" placeholder="associateLastName" name="associateLastName" ngModel /> <br/>
            <input type="email" placeholder="email" name="email" ngModel /> <br/>
            <input type="text" placeholder="associateMobilenumber" name="associateMobilenumber" ngModel /> <br/>
            <input type="submit" value="Add" />
        </form>
    </fieldset>
</div>
<router-outlet></router-outlet>