<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Save League</title>
</head>

<body>

	<div class="container">

		<h3>Employee Details</h3>
		<hr>

		<p class="h4 mb-4">Save Employee</p>

		<form action="#" th:action="@{/type}" th:object="${socc}"
			method="POST">
		
				 <select name="type">
				<option value="employee"  >Employee</option>
				<option value="pemployee" >permanentEmployee</option>
				<option value="cemployee" >contractualEmployee</option>
			</select>
			<button type="submit" value="save">save</button>

		</form>

		<hr>
		<a th:href="@{/}">Back to ShowEmployee</a>

	</div>
</body>

</html>
